<%= render "shared/quiz-header" %>

<div class="learn-main">
  <div class="learn-body">
    <div class="let-us-quiz">
      <%= link_to '挑戦する', "/", class: "quiz-btn"%>
    </div>
    <div class="create-quiz">
      <%= link_to 'クイズを作る', "/", class: "quiz-btn"%>
    </div>
  </div>
  <div class="learn-footer">
    <div class="index-quizes">
      クイズ一覧
    </div>
    <div class="index-quiz"></div>
      
  </div>
</div>

<%= render "shared/quiz-footer" %>