.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 40px;
  border: 0;
  cursor: pointer;
  background-color: #b4668c;
}

.search-button:hover{
  background-color: #884d6a;
}

.root-btn{
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.root-btn:hover{
  color: #8f8e8e;
}

.chat-ad-footer-contents {
  padding: 5vh 15vw;
  background-color: #f8f8f8;
}

.chat-footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #b4668c;
  text-align: center;
}

@media (max-width: 960px) {
  .root-btn{
    font-size: 15px;
  }
}