.ad-footer-contents {
  padding: 2vh 15vw;
  background-color: #f8f8f8;
}

.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.second-footer-logo{
  height: 130px;
}

@media (max-width: 960px) {
  .second-footer-logo{
    height: 100px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 1vh 0;
  }
}