/* chat-headerのcssも同時に記述 */

* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amusic-icon {
  width: 15vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  color: #333333;
  font-size: 25px;
}

.audio-caution{
  color: red;
  font-size: 10px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

/* show, chat/showにも反映 */
.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 25px;
}

.users-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 25px;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.users-name:hover, .logout:hover, .login:hover, .sign-up:hover{
  color: #8f8e8e;
}

@media (max-width: 960px) {
  .amusic-icon {
    width: 13vw;
    margin-left: -30px;
  }
  
  .lists-left {
    margin-left: -30px;
    font-size: 15px;
  }
  
  /* show, chat/showにも反映 */
  .user-name {
    margin-right: 3vw;
    font-size: 15px;
  }
  
  .users-name {
    margin-right: 2vw;
    font-size: 15px;
  }
  
  .logout {
    font-size: 15px;
  }
  
  .login {
    line-height: 25px;
    margin-right: 1vw;
    font-size: 15px;
  }
  
  .sign-up {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .amusic-icon {
    width: 20vw;
    margin-left: -40px;
  }

  .lists-left {
    font-size: 15px;
    margin-left: -40px;
  }

  /* show, chat/showにも反映 */
  .user-name {
    margin-right: 1vw;
    font-size: 15px;
  }
  
  .users-name {
    margin-right: 1vw;
    font-size: 15px;
  }
  
  .logout {
    font-size: 15px;
  }
  
  .login {
    margin-right: 1vw;
    font-size: 15px;
  }
  
  .sign-up {
    font-size: 15px;
  }
}