/* chat-headerのcssも同時に記述 */

* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amusic-icon {
  width: 15vw;
  margin-right: 15vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  color: #333333;
  font-size: 25px;
}

.audio-caution{
  color: red;
  font-size: 10px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

/* show, chat/showにも反映 */
.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 25px;
}

.users-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 25px;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.users-name:hover, .logout:hover, .login:hover, .sign-up:hover{
  color: #8f8e8e;
}
