.quiz-ad-footer-contents {
  padding: 5vh 15vw;
  background-color: #f8f8f8;
}

.quiz-footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #5d7a4a;
  text-align: center;
}

@media (max-width: 600px) {
  .quiz-footer {
    padding: 1vh 0;
  }
}