.second-header {
  width: 100%;
  height: 130px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 180px;

}

@media (max-width: 600px) {
  .second-logo{
    width: 150px;
  }
}