.play-main{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano{
  display: flex;
}

.white{
  width:80px;
  height: 320px;
  background-color: white;
  border: 1px solid gray;
}

.black{
  width:48px;
  height: 192px;
  background-color: black;
  margin-left: -24px;
  margin-right: -24px;
  z-index: 2;
}

.white:hover{
  background-color: #cdd9f3;
}

.black:hover{
  background-color: #353f53;
}

@media (max-width: 600px) {
  .white{
    width:60px;
    height: 240px;
  }
  
  .black{
    width:36px;
    height: 144px;
    margin-left: -18px;
    margin-right: -18px;
    z-index: 1.5;
  }
}