<%= render "shared/chat-header" %>
<body>
<div class = "chat-main">
  <div>


  </div>
</div>
<div class='question-btn'>
  <%= link_to "質問する", new_chat_path, class: 'question-btn-text', method: :get %>
</div>
</body>
<%= render "shared/footer" %>