.page-btn{
  margin-top: -30px;
}

.chat-name{
  font-size: 25px;
  margin-top: 10px;
}

.chat-content{
  font-size: 25px;
  margin-top: 40px;
}

.chat-images{
  font-size: 25px;
  margin-top: 40px;
}

.chat-image{
  margin-top: 40px;
}

.container {
  width: 70%;
  margin: 20px 0;
  padding: 30px;
  /* box-shadow: 0 0 10px rgba(41, 41, 41, 0.2); */
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: #666;
}

.messages {
  padding: 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.messages a {
  color: #57C3E9;
}

.messages a:hover {
  text-decoration: underline;
}

