.user-chat-name{
  font-size: 40px;
  color: black;
}

.user-chat-name:hover{
  color: #8f8e8e;
}

.like-chat{
  margin: 80px 0 0;
  height: 60vh;
  overflow: scroll;
}

.likes-btn{
  background-color: #f8f8f8;
  border: none;
  height: 50px;
}

.likes-num {
  font-size: 25px;
}

.likes-users{
  overflow: scroll;
  height: 20vh;
}

.likes-user{
  font-size: 20px;
}

.chat-form{
  margin-top: -25vh;
  font-size: 20px;
  font-weight: 200;
  color: black;
  width: 50%;
  height: 60vh;
  overflow: scroll;
  padding: 30px;
}

.chat-name{
  font-size: 25px;
  margin-top: 10px;
}

.chat-content{
  font-size: 25px;
  margin-top: 40px;
}

.chat-images{
  font-size: 25px;
  margin-top: 40px;
}

.chat-image{
  margin-top: 40px;
}

.container {
  width: 100%;
  padding: 0, 30px;
  margin-top: -30vh;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-area{
  display: flex;
  justify-content: center;
}

.message-content{
  font-size: 20px;
  width: 50vw;
  height: 100px;
  display: flex;
  justify-content: center;
}

.message-btn{
  font-size: 20px;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: #d1d1d1;
}

.message-btn:hover{
  background-color: #949393;
}

.messages {
  padding: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.message{
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 10%;
  overflow: scroll;
}

.user-message{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.message-time{
  font-size: 10px;
  color: rgb(128, 128, 128);
}

.message-record{
  display: flex;
}

.user-messages{
  color: black;
  font-weight: bold;
  height: 20px;
}

.user-messages:hover {
  color: #8f8e8e;
}

@media (max-width: 600px) {
  .user-chat-name{
    font-size: 30px;
  }

  .chat-form{
    width: 100%;
    height: 70vh;
    overflow: scroll;
    padding: 30px;
  }

  .btn-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .like-chat{
    margin: 40px 0 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chat-image{
    width: 100%;
  }

  .container {
    padding: 0, 10px;
    margin-top: 5%;
  }
}