body {
  background: #f8f8f8;
  font-family: monospace;
}

.special-btn{
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.leaning{
  background-color: black;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  text-align:center;
  line-height: 340px;
  margin-top: 5vh;
  margin-left: 25vw;
}

.question{
  background-color: black;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align:center;
  line-height: 300px;
  margin-top: -80px;
  margin-left: 75vw;
}

.playing{
  background-color: black;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  text-align:center;
  line-height: 280px;
  margin-top: -50px;
  margin-left: 10vw;
}

.fake-btn1{
  background-color: #3f3f3f;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 65vw;
  margin-top: -40vh;
  cursor: pointer;
}

.fake-btn2{
  background-color: #333333;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-top: 20vh;
  margin-left: 30px;
  cursor: pointer;
}

.fake-btn3{
  background-color: #313131;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-left: 60vw;
  margin-top: -10vh;
  cursor: pointer;
}

.leaning:hover{
  background-color: #5d7a4a;
}

.question:hover{
  background-color: #945976;
}

.playing:hover{
  background-color: #596c94;
}

.fake-btn1:hover{
  background-color: #949059;
}

.fake-btn2:hover{
  background-color: #947559;
}

.fake-btn3:hover{
  background-color: #7c5994;
}

@media (max-width: 960px) {
  .special-btn{
    font-size: 30px;
  }
  
  .leaning{
    height: 238px;
    width: 238px;
    line-height: 238px;
    margin-top: 5vh;
    margin-left: 23vw;
  }
  
  .question{
    background-color: black;
    height: 210px;
    width: 210px;
    line-height: 210px;
    margin-top: -150px;
    margin-left: 70vw;
  }
  
  .playing{
    background-color: black;
    height: 196px;
    width: 196px;
    line-height: 196px;
    margin-top: -30px;
    margin-left: 10vw;
  }
  
  .fake-btn1{
    height: 49px;
    width: 49px;
    margin-left: 60vw;
  }
  
  .fake-btn2{
    height: 98px;
    width: 98px;
  }
  
  .fake-btn3{
    height: 84px;
    width: 84px;
    margin-left: 50vw;
    margin-top: -10vh;
  }
}

@media (max-width: 600px) {
  .special-btn{
    font-size: 20px;
  }
  
  .leaning{
    height: 170px;
    width: 170px;
    line-height: 170px;
    margin-left: 15vw;
  }
  
  .question{
    background-color: black;
    height: 150px;
    width: 150px;
    line-height: 150px;
    margin-top: -110px;
  }
  
  .playing{
    background-color: black;
    height: 140px;
    width: 140px;
    line-height: 140px;
    margin-top: 0px;
  }
  
  .fake-btn1{
    height: 35px;
    width: 35px;
    margin-top: -25vh;
  }
  
  .fake-btn2{
    height: 70px;
    width: 70px;
  }
  
  .fake-btn3{
    height: 60px;
    width: 60px;
    margin-left: 55vw;
    margin-top: -9vh;
  }
}

@media (max-width: 480px) {
  .special-btn{
    font-size: 15px;
  }

  .leaning{
    height: 119px;
    width: 119px;
    line-height: 119px;
    margin-left: 15vw;
    margin-top: 0vh;
  }
  
  .question{
    background-color: black;
    height: 105px;
    width: 105px;
    line-height: 105px;
  }
  
  .playing{
    background-color: black;
    height: 98px;
    width: 98px;
    line-height: 98px;
    margin-top: 30px;
  }
  
  .fake-btn1{
    height: 28px;
    width: 28px;
    margin-top: -15vh;
  }
  
  .fake-btn2{
    height: 50px;
    width: 50px;
  }
  
  .fake-btn3{
    height: 44px;
    width: 44px;
    margin-left: 58vw;
    margin-top: -5vh;
  }
}