body {
  background: #f8f8f8;
  font-family: monospace;
}

.special-btn{
  text-decoration: none;
  color: white;
}

.leaning{
  background-color: black;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  text-align:center;
  line-height: 340px;
  font-size: 40px;
  margin-top: 5vh;
  margin-left: 20vw;
}

.question{
  background-color: black;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align:center;
  line-height: 300px;
  font-size: 45px;
  margin-top: -80px;
  margin-left: 70vw;
}

.playing{
  background-color: black;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  text-align:center;
  line-height: 280px;
  font-size: 40px;
  margin-top: -50px;
  margin-left: 10vw;
}

.fake-btn1{
  background-color: #272727;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 60vw;
  margin-top: -40vh;
  cursor: pointer;
}

.fake-btn2{
  background-color: #272727;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-top: 20vh;
  margin-left: 30px;
  cursor: pointer;
}

.fake-btn3{
  background-color: #272727;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-left: 60vw;
  margin-top: -10vh;
  cursor: pointer;
}

.leaning:hover, .question:hover, .playing:hover{
  background-color: #5c5c5c;
}

.fake-btn1:hover{
  background-color: #945959;
}

.fake-btn2:hover{
  background-color: #849459;
}

.fake-btn3:hover{
  background-color: #7c5994;
}

@media (max-width: 1024px) {
  .leaning{
    height: 272px;
    width: 272px;
    line-height: 272px;
    font-size: 32px;
  }
  
  .question{
    height: 180px;
    width: 180px;
    line-height: 180px;
    font-size: 27px;
  }
  
  .playing{
    height: 224px;
    width: 224px;
    line-height: 224px;
    font-size: 32px;
  }
  
  .fake-btn1{
    height: 56px;
    width: 56px;
  }
  
  .fake-btn2{
    height: 112px;
    width: 112px;
  }
  
  .fake-btn3{
    height: 96px;
    width: 96px;
  }
 }

 @media (max-width: 599px) {
  .leaning{
    height: 204px;
    width: 204px;
    line-height: 204px;
    font-size: 24px;
  }
  
  .question{
    height: 240px;
    width: 240px;
    line-height: 240px;
    font-size: 36px;
    margin-top: -64px;
    margin-left: 56vw;
  }
  
  .playing{
    height: 168px;
    width: 168px;
    line-height: 168px;
    font-size: 24px;
  }
  
  .fake-btn1{
    height: 48px;
    width: 48px;
  }
  
  .fake-btn2{
    height: 70px;
    width: 70px;
  }
  
  .fake-btn3{
    height: 72px;
    width: 72px;
  }
 }