h3{
  font-size: 30px;
}

h5{
  font-size: 20px;
  margin: 30px;
}

.chats-title{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chat-mains{
  display: flex;
  justify-content: center;
  width: 20vw;
}

.chat-all{
  display: flex;
  justify-content: center;
}